// Variables
@import 'variables';

* {box-sizing: border-box;}

body{
font-family: $font-family-sans-serif;
color: $body-color;
font-size: $font-size-base;
margin: 0;
}

#toolbar{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid $text-ee;
    -moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: inset 0px -1px 2px 0px $red;
}

#toolbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#toolbar ul{
    display:flex;
    align-items: center;
    list-style: none;
    padding: 0 24px 0 0;
    margin: 0;
}

#toolbar ul li{
    padding: 10px 10px 0;
}

#toolbar h1{
    color: $green;
    display: inline-block;
    font-size: $font28;
}

#toolbar .icon {
    height: $icon-height;
    padding: 16px 12px 16px 24px;
    display: inline-block;
}

h1{
    margin-block-start: 0.67em;
    scroll-margin-block-end: 0.67em;
    margin-inline-start: 0px;
    scroll-margin-inline-end: 0px;
    font-weight: bold;
}

.header {
    object-fit: cover;}

.header .headerImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: $body-color;
    width: 100%;
    position: relative;
}

.header >img{
  width:100%;
  

}

.box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

.box .widget
{
    height: 300px;
    border: 2px solid $orange;
    border-radius: 5px;
    padding: 1em;
    flex: 1 1 320px;
    background-color: $blue;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .widget
{
    height: 300px;
    border: 2px solid $red;
    border-radius: 5px;
    padding: 1em;
    background-color: $black;
}

#footer{
    margin-bottom: 3em;
}